
<div class="center">
  <strong class="show-title" style="text-align:center;"> With The Information You Have Provided Us, We Highly Recommend Purchasing The Following Amount of Insurance... </strong>

  <h3 class="show-display" style="text-align:center;"><%= @recommendation %> dollars</h3>
</div>