body {
background-color: rgb(105,201,201);
}

.page-header {
  font-size: 22px;
  color: white;
}

.button {
  border-radius: 10px;
  margin-left: 55px;
  background-color: rgb(6,93,91);
}

.nifty-form {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: 150px; 
}

.form-label {
  color: white;
  margin-bottom: -10px;
}

.form-field {
  width: 80% !important;
  border-radius: 10px !important;
}

#sidr-first-content, #sidr-second-content, #sidr-third-content {
  background: rgb(6,93,91);
  -webkit-box-shadow:inset 0 0 5px 5px rgb(6,93,91);
  box-shadow:inset 0 0 5px 5px rgb(6,93,91);
}

.sidr-class-bar-header {
  text-align: center;
  font-size: 14px;
   margin-left: 35px !important;
   margin-right: 25px !important;
}

.sidr-class-bar-content {
   margin-left: 35px !important;
   margin-right: 25px !important;
   font-size: 10px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-bottom: 150px;
  margin-left: -150px;
  margin-top: 150px; 

  width: 300px;
  text-align: center;
  line-height: 25px; /* where the magic happens */
}​