body {
background-color: rgb(45,155,154);
}

.nifty-form {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: 150px; 
}

.form-label {
  color: white;
  margin-bottom: -10px;
}

.form-field {
  width: 80% !important;
}

.sidr-tag {

}